body {
  margin: 0;
  padding: 50px 0 0 0;
  color: #FFF;
  background-color: #2a2a2a;
  font-family: Arial;
}

header {
  height: 50px;
  border-bottom: 2px solid #02B992;
  background-color: #212121;
  padding: 0 14px;
  font-size: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.title {
  font-size: 25px;
  padding: 11px 0;
  color: #FFF;
  width: 50%;
  display: inline-block;
  margin: 0;
  vertical-align: middle;
  font-weight: normal;
}

.settings {
  display: inline-block;
  width: 50%;
  text-align: right;
}

.ai-options {
  display: inline-block;
  font-size: 14px;
  vertical-align: middle;
  list-style: none;
  padding: 6px 50px 6px 20px;
  margin: 0;
  background-color: #353535;
  border-radius: 30px;
  text-align: left;
  position: relative;
}

.ai-options li {
  display: inline-block;
}

.ai-options .lookahead {
  margin: 0 30px;
}

.ai-options label {
  display: inline-block;
  vertical-align: middle;
  margin-right: 6px;
  cursor: inherit;
}

.ai-options .checkbox {
  display: inline-block;
  width: 25px;
  height: 10px;
  vertical-align: middle;
  border-radius: 8px;
  background-color: #191919;
  position: relative;
  cursor: pointer;
  transition: background-color 0.15s linear;
}

.ai-options .checkbox:before {
  content: '';
  background-color: #6A6A6A;
  border-radius: 50%;
  width: 14px;
  height: 14px;
  position: absolute;
  left: -3px;
  top: -2px;
  transition: background-color 0.15s linear, left 0.15s linear;
}

.ai-options .checkbox.active {
  background-color: #017057;
}

.ai-options .checkbox.active:before {
  background-color: #02B992;
  left: 13px;
}

.ai-options .number-selector {
  display: inline-block;
  width: 10px;
  height: 16px;
  text-align: center;
  vertical-align: middle;
  background-color: #6A6A6A;
  border-radius: 3px;
}

.ai-options .number-selector .up {
  cursor: pointer;
  display: block;
  padding: 3px 2px 2px;
}

.ai-options .number-selector .down {
  cursor: pointer;
  display: block;
  padding: 2px 2px 3px;
}

.ai-options .number-selector .up:before {
  content: '';
  width: 0;
  height: 0;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-bottom: 3px solid #FFF;
  display: block;
}

.ai-options .number-selector .down:before {
  content: '';
  width: 0;
  height: 0;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-top: 3px solid #FFF;
  display: block;
}

.ai-options .select-arrow {
  width: 16px;
  height: 16px;
  background-color: #6A6A6A;
  display: inline-block;
  vertical-align: middle;
  border-radius: 50%;
  position: relative;
}

.ai-options .select {
  position: relative;
  cursor: pointer;
}

.ai-options .select.show-options .options {
  height: 68px;
}

.ai-options .select .options {
  margin: 0 0 0 -61px;
  padding: 0;
  list-style: none;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
  position: absolute;
  top: 23px;
  left: 50%;
  box-shadow: 2px 2px 2px -1px rgba(0,0,0,0.2);
  height: 0;
  transition: height 0.2s linear;
}

.ai-options .select .options li {
  padding: 10px 0;
  background-color: #353535;
  font-size: 12px;
  width: 122px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.15s linear;
}

.ai-options .select .options li:hover {
  background-color: #4f4f4f !important;
}

.ai-options .select .options li:nth-child(odd) {
  background-color: #3F3F3F;
}

.ai-options .select-arrow:before {
  content: '';
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #FFF;
  position: absolute;
  top: 7px;
  left: 4px;
}

.ai-options .apply-settings {
  border: none;
  outline: none;
  background-color: #02B992;
  border-radius: 50%;
  color: #FFF;
  width: 29px;
  height: 29px;
  position: absolute;
  top: 0;
  right: 0;
  text-align: center;
  transition: background-color 0.15s linear, color 0.15s linear;
  cursor: pointer;
}

.ai-options .apply-settings[disabled] {
  color: #D3D3D3;
  background-color: #6A6A6A;
  cursor: default;
}

#game {
  position: fixed;
  width: 540px;
  top: 52px;
  left: 0;
  bottom: 0;
  background-color: #353535;
  padding: 60px 0;
}

.wait {
  width: 430px;
  height: 370px;
  position: absolute;
  left: 60px;
  top: 50px;
  cursor: wait;
  display: none;
}

.board {
  border-spacing: 4px;
  margin: 0 auto;
}

.board .symbol:before {
  content: '';
  width: 20px;
  height: 20px;
  display: inline-block;
  border-radius: 50%;
}

.board .symbol.symbol-ai:before {
  background-color: #46fc7f;
}

.board .symbol.symbol-human:before {
  background-color: #649bff;
}

.board td {
  width: 54px;
  height: 54px;
  font-size: 30px;
  text-align: center;
  cursor: pointer;
  background-color: #585858;
}

.board .winning-path {
  background-color: #212121;
}

#searchTreePanel {
  margin-left: 540px;
  padding: 20px;
}

#searchTreePanel ul {
  list-style: none;
  border-left: 1px dotted #A5A5A5;
  padding: 0;
  margin-left: 36px;
}

#searchTreePanel li {
  position: relative;
}

#searchTree li:before {
  content: '';
  width: 15px;
  height: 1px;
  border-top: 1px dotted #A5A5A5;
  display: inline-block;
  margin-right: 1px;
}

#searchTree .expand-button {
  position: absolute;
  top: 43px;
  left: -3px;
  width: 0; 
	height: 0; 
  border: none;
  outline: none;
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;
	border-left: 6px solid #FFF;
  background: transparent;
  padding: 0;
  cursor: pointer;
}

#searchTree li.expanded > .expand-button {
  top: 46px;
  left: -7px;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid #FFF;
}

#searchTree .board {
  display: inline-block;
  vertical-align: middle;
  margin: 4px 6px 4px 4px;
  border-spacing: 1px;
}

#searchTree .board.chosen {
  box-shadow: 0 0 4px 1px #2BFFD3;
}

#searchTree .board td {
  width: 11px;
  height: 11px;
  font-size: 10px;
  cursor: default;
}

#searchTree .board .symbol:before {
  width: 7px;
  height: 7px;
}

.node-data {
  display: inline-block;
}

.node-data {
  display: inline-block;
}

.node-data-item {
  display: inline-block;
  margin: 0 6px;
  font-size: 11px;
  background-color: rgb(62, 60, 60);
  border-radius: 20px;
  padding-right: 10px;
}

.node-data-item .fa {
  border-radius: 50%;
  width: 20px;
  text-align: center;
  font-size: 12px;
  color: #FFF;
  margin-right: 8px;
  padding: 4px 0;
}

.node-evaluation .fa {
  background-color: #F32727;
  padding: 5px 0 3px;
}

.node-max .fa {
  background-color: #276FF3;
}

.node-min .fa {
  background-color: #2BD25F;
}

.node-cut-alpha .fa {
  background-color: #D2A62B;
}

.node-cut-beta .fa {
  background-color: #D22BA6;
}

.node-transposition .fa {
  background-color: #a86c21;
}

#resultPanel {
  text-align: center;
  display: none;
}

#resultPanel.visible {
  display: block;
}

.result {
  font-size: 17px;
  font-weight: bold;
  padding: 10px 25px;
  border-radius: 8px;
  color: #FFF;
  display: none;
}

#resultPanel.win .result.win {
  display: inline-block;
  background-color: #2B9A48;
}

#resultPanel.lose .result.lose {
  display: inline-block;
  background-color: #B72121;
}

#resultPanel.draw .result.draw {
  display: inline-block;
  background-color: #D09A04;
}

.btn-restart {
  border: none;
  outline: none;
  border-radius: 8px;
  background-color: #02a683;
  padding: 8px 16px;
  color: #FFF;
  font-weight: bold;
  cursor: pointer;
}

.btn-restart .fa {
  margin-right: 8px;
}

.bottom-info {
  position: fixed;
  bottom: 6px;
  right: 6px;
  color: #FFF;
  font-size: 11px;
  background-color: rgb(62, 60, 60);
  border-radius: 20px;
  padding: 4px 12px;
}

.bottom-info .fa {
  margin-right: 4px;
}

.bottom-info.time-taken {
  right: 6px;
}

.bottom-info.table-size {
  right: 88px;
}
